/* Scrollbar Styles */
.table-container::-webkit-scrollbar {
    width: 12px;
    height: 6px;
    transition: height 0.8s ease;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
    background: #01008A; /* Purple color */
    border-radius: 10px;
}

/* Hover Scrollbar Styles */
.table-container:hover::-webkit-scrollbar {
    height: 12px;
}


