.employee-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.employee-table th, .employee-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.employee-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.profile-pic {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%;
}

.default-profile-pic {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    background-color: #ccc;
    color: #fff;
    text-align: center;
    line-height: 50px; /* Center vertically */
    border-radius: 50%;
}
